@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=PT+Serif:wght@400;700&display=swap");
.bg-main {
  /*bg sitio*/
  background-color: #fff9ed;
}

.bg-negro {
  background-color: #1e1e1e;
}

.header__navBar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.header__navBar a {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.header__navBar--logo {
  height: 2.5rem;
  border: solid 0.5vh #ab8f1e;
  border-style: inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media all and (min-width: 992px) {
  .header__navBar--logo {
    height: 3rem;
  }
}

.header__navBar--links {
  /*fuente informal, weights 300 400 700*/
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.75rem;
  font-weight: 300;
  color: #fff9ed;
}

@media all and (min-width: 768px) {
  .header__navBar--links {
    font-size: 2rem;
  }
}

@media all and (min-width: 992px) {
  .header__navBar--links {
    font-size: 1.25rem;
  }
}

.banner {
  background-image: url(../media/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 35vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner--titulo {
  height: auto;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 3rem;
  font-weight: 400;
  color: #fff9ed;
  background-image: none;
  text-align: center;
}

@media all and (min-width: 768px) {
  .banner--titulo {
    font-size: 4rem;
  }
}

@media all and (min-width: 992px) {
  .banner--titulo {
    font-size: 5rem;
  }
}

.carousel {
  margin-bottom: 3rem;
}

@media all and (min-width: 992px) {
  .carousel__contenedor {
    height: 92vh;
  }
}

.carousel__texto {
  bottom: 25%;
}

.carousel__texto--titulo {
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 3rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
}

.carousel__texto--pie {
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
}

.carousel__flechaSiguiente {
  background-image: url("../media/arrow.png");
}

@media all and (min-width: 768px) {
  .carousel__flechaSiguiente {
    height: 40px;
    width: 40px;
  }
}

.carousel__flechaAnterior {
  background-image: url("../media/arrow.png");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media all and (min-width: 768px) {
  .carousel__flechaAnterior {
    height: 40px;
    width: 40px;
  }
}

.carousel__indicador li {
  background-image: url("../media/circle.png");
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-clip: border-box;
  height: 18px;
  width: 18px;
}

@media all and (min-width: 768px) {
  .carousel__indicador li {
    width: 24px;
    height: 24px;
  }
}

.estudio {
  background-image: url(../media/estudio.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 25vh;
}

.parrafo {
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff9ed;
  text-align: justify;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

@media all and (min-width: 768px) {
  .parrafo {
    padding-bottom: 1rem;
  }
}

@media all and (min-width: 992px) {
  .parrafo {
    font-size: 1.15rem;
    padding: 2rem;
    line-height: 2rem;
  }
}

.servicios {
  padding: 1rem;
}

.servicios__secciones {
  min-height: 30vh;
  margin: 0;
}

.servicios__secciones--parrafo {
  margin: 1.5rem 0 1.5rem 0;
}

@media all and (min-width: 992px) {
  .servicios__secciones--parrafo {
    margin: 0;
    padding: 1rem;
    line-height: 2rem;
    border-bottom: 0.2rem solid #ab8f1e;
    border-radius: 3px;
  }
}

.servicios__secciones--asesoramiento {
  background-image: url(../media/asesoramiento.jpg);
  background-position-y: 35%;
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
}

@media all and (min-width: 768px) {
  .servicios__secciones--asesoramiento {
    font-size: 4rem;
    font-weight: 600;
  }
}

.servicios__secciones--representacion {
  background-image: url(../media/representacion.jpg);
  background-position: center;
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
}

@media all and (min-width: 768px) {
  .servicios__secciones--representacion {
    font-size: 4rem;
    font-weight: 600;
  }
}

.servicios__secciones--defensa {
  background-image: url(../media/defensa.jpg);
  background-position: center;
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
}

@media all and (min-width: 768px) {
  .servicios__secciones--defensa {
    font-size: 4rem;
  }
}

.equipo {
  padding: 2rem 0 2rem 0;
  margin: 1rem;
}

@media all and (min-width: 992px) {
  .equipo {
    padding: 4rem;
  }
}

.equipo__integrantes {
  min-height: 20rem;
  margin-bottom: 1rem;
  border: none;
}

@media all and (min-width: 768px) {
  .equipo__integrantes {
    margin: 0;
  }
}

@media all and (min-width: 992px) {
  .equipo__integrantes {
    min-height: 30vh;
    padding: 1rem;
    line-height: 2rem;
    margin: 0 0 2rem 0;
  }
}

.equipo__integrantes--parrafo {
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff9ed;
  text-align: justify;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

@media all and (min-width: 768px) {
  .equipo__integrantes--parrafo {
    padding-bottom: 1rem;
  }
}

@media all and (min-width: 992px) {
  .equipo__integrantes--parrafo {
    font-size: 1.15rem;
    padding: 2rem;
    line-height: 2rem;
    border-bottom: 0.2rem solid #ab8f1e;
    border-radius: 3px;
  }
}

.equipo__integrantes--phyllis {
  background-image: url(../media/phyllis.jpg);
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
}

@media all and (min-width: 768px) {
  .equipo__integrantes--phyllis {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 2rem 0 2rem;
  }
}

@media all and (min-width: 992px) {
  .equipo__integrantes--phyllis {
    font-size: 1.75rem;
    margin: 0 0 2rem 0;
  }
}

.equipo__integrantes--michael {
  background-image: url(../media/michael.jpg);
  background-position-y: 20%;
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
}

@media all and (min-width: 768px) {
  .equipo__integrantes--michael {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 2rem 0 2rem;
  }
}

@media all and (min-width: 992px) {
  .equipo__integrantes--michael {
    font-size: 1.75rem;
    margin: 0 0 2rem 0;
  }
}

.equipo__integrantes--dwight {
  background-image: url(../media/dwight.png);
  background-position-y: 20%;
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
}

@media all and (min-width: 768px) {
  .equipo__integrantes--dwight {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 2rem 0 2rem;
  }
}

@media all and (min-width: 992px) {
  .equipo__integrantes--dwight {
    font-size: 1.75rem;
    margin: 0 0 2rem 0;
  }
}

.equipo__integrantes--kevin {
  background-image: url(../media/kevin.jpg);
  background-position-y: 20%;
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
}

@media all and (min-width: 768px) {
  .equipo__integrantes--kevin {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 2rem 0 2rem;
  }
}

@media all and (min-width: 992px) {
  .equipo__integrantes--kevin {
    font-size: 1.75rem;
    margin: 0 0 2rem 0;
  }
}

.equipo__integrantes--pam {
  background-image: url(../media/pam.jpg);
  background-position-y: 35%;
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
}

@media all and (min-width: 768px) {
  .equipo__integrantes--pam {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 2rem 0 2rem;
  }
}

@media all and (min-width: 992px) {
  .equipo__integrantes--pam {
    font-size: 1.75rem;
    margin: 0 0 2rem 0;
  }
}

.equipo__integrantes--jim {
  background-image: url(../media/jim.jpg);
  background-size: cover;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1e1e1e;
  text-shadow: 0px 0px 8px #fff9ed;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
}

@media all and (min-width: 768px) {
  .equipo__integrantes--jim {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 2rem 0 2rem;
  }
}

@media all and (min-width: 992px) {
  .equipo__integrantes--jim {
    font-size: 1.75rem;
    margin: 0 0 2rem 0;
  }
}

.clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media all and (min-width: 992px) {
  .clientes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clientes__logos {
  width: 50vw;
  margin: 8vh;
}

@media all and (min-width: 992px) {
  .clientes__logos {
    width: 12vw;
  }
}

@media all and (min-width: 992px) {
  .clientes__logos:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.contacto__formulario {
  padding: 2rem 0 2rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__formulario--titulo {
  text-align: center;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff9ed;
  margin: 1rem;
  padding-left: 0;
  padding-right: 0;
}

@media all and (min-width: 992px) {
  .contacto__formulario--titulo {
    font-size: 1.5rem;
    margin: 1.5rem;
  }
}

.contacto__formulario--inputs {
  /*fuente informal, weights 300 400 700*/
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #1e1e1e;
  resize: none;
}

.contacto__formulario--inputs:focus {
  color: #1e1e1e;
  background-color: #fff9ed;
  border-color: #ab8f1e;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #ab8f1e;
          box-shadow: 0 0 0 0.2rem #ab8f1e;
}

.contacto__formulario--enviar {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  /*fuente informal, weights 300 400 700*/
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #fff9ed;
  background-color: #ab8f1e;
  border-color: #ab8f1e;
}

.contacto__formulario--enviar:hover {
  background-color: #8c7517;
  border-color: #8c7517;
  color: #fff9ed;
}

.recibe {
  min-height: 50vh;
}

.recibe__parrafo {
  text-align: center;
}

.recibe__volver {
  color: #ab8f1e;
}

.recibe__volver:hover {
  color: #fff9ed;
}

.recibe__volver:active {
  color: #fff9ed;
}

.footer {
  padding: 1rem;
}

.footer__contacto {
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff9ed;
  text-align: center;
  padding: 0;
  height: auto;
  margin: 0.5rem;
}

@media all and (min-width: 992px) {
  .footer__contacto {
    font-size: 1rem;
  }
}

.footer__contacto--titulo {
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  /*fuente formal, weights 400 700*/
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ab8f1e;
  text-align: center;
}

@media all and (min-width: 992px) {
  .footer__contacto--titulo {
    font-size: 1.25rem;
  }
}

.footer__socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2vh;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -o-object-position: center;
     object-position: center;
}

@media all and (min-width: 992px) {
  .footer__socialMedia {
    text-decoration: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer__socialMedia--icono {
  height: 6vh;
}

@media all and (min-width: 992px) {
  .footer__socialMedia--icono {
    height: 3vh;
    padding: 0;
    padding-left: 2vw;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}

@media all and (min-width: 992px) {
  .footer__socialMedia--icono:hover {
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}
/*# sourceMappingURL=estilos.css.map */