@import "_fonts.scss";
@import "_colors.scss";

.bg-main { /*bg sitio*/
	background-color: $cream;
}
.bg-negro {
	background-color: $black;
}
.header__navBar {
    margin-right: 1rem;
}
.header__navBar--logo {
    height: 2.5rem;
    border: solid 0.5vh $gold;
    border-style: inset;
    box-sizing: border-box;
    @media all and (min-width: 992px) {
        height: 3rem;
    }
}
.header__navBar--links {
	@include font-sans(1.75rem, 300, $cream);
    @media all and (min-width: 768px) {
        font-size: 3rem;
    }
    @media all and (min-width: 992px) {
        font-size: 2rem;
    }
}
.banner {
    background-image: url(../media/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 35vh;
    justify-content: center;
}
.banner--titulo {
    height: auto;
    @include font-serif(3rem, 400, $cream);
    background-image: none;
    text-align: center;
    @media all and (min-width: 768px) {
        font-size: 4rem;
    }
    @media all and (min-width: 992px) {
        font-size: 5rem;
    }
}
.carousel {
    margin-bottom: 3rem;
}
.carousel__contenedor {
    @media all and (min-width: 992px) {
        height: 92vh;
    }
}
.carousel__texto {
    bottom: 25%;
}
.carousel__texto--titulo {
    @include font-serif(3rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
}
.carousel__texto--pie {
    @include font-serif(1.5rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
}
.carousel__flechaSiguiente {
    background-image: url("../media/arrow.png");
    @media all and (min-width: 768px) {
        height: 40px;
        width: 40px;
    }
}
.carousel__flechaAnterior {
    background-image: url("../media/arrow.png");
    transform: rotate(180deg);
    @media all and (min-width: 768px) {
        height: 40px;
        width: 40px;
    }
}
.carousel__indicador li {
    background-image: url("../media/circle.png");
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-clip: border-box;
    height: 18px;
    width: 18px;
    @media all and (min-width: 768px) {
        width: 24px;
        height: 24px;
    }
}
.estudio {
    background-image: url(../media/estudio.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    min-height: 25vh;
}
.servicios {
	/*grid-row-gap: 1rem;*/
    padding: 1rem;
}
.servicios__secciones {
    min-height: 30vh;
}
.servicios__secciones--parrafo {
    margin: 0;
    @media all and (min-width: 992px) {
        padding: 1rem;
        line-height: 2rem;
    }
}
.servicios__secciones--asesoramiento {
	background-image: url(../media/asesoramiento.jpg);
	background-position-y: 35%;
	background-size: cover;
    @include font-serif(2.5rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    @media all and (min-width: 768px) {
        font-size: 4rem;
        font-weight: 600;
    }
}
.servicios__secciones--representacion {
	background-image: url(../media/representacion.jpg);
	background-position: center;
	background-size: cover;
    @include font-serif(2.5rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    @media all and (min-width: 768px) {
        font-size: 4rem;
        font-weight: 600;
    }
}
.servicios__secciones--defensa {
	background-image: url(../media/defensa.jpg);
	background-position: center;
	background-size: cover;
    @include font-serif(2.5rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    @media all and (min-width: 768px) {
        font-size: 4rem;
    }
}
.parrafo {
	@include font-serif(1.25rem, 400, $cream);
	text-align: justify;
    @media all and (min-width: 768px) {
        font-size: 1.75rem;
        padding: 1.5rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.15rem;
        padding: 2rem;
        line-height: 2rem;
    }
}
.equipo {
    padding: 4rem;
    margin: auto;
}
.equipo__integrantes {
    min-height: 20rem;
    @media all and (min-width: 992px) {
        min-height: 30vh;
    }
}
.equipo__integrantes--parrafo {
    @extend .parrafo;
    margin: 0;
    @media all and (min-width: 768px) {
        margin: 0 2rem 0 2rem;
    }
    @media all and (min-width: 992px) {
        padding: 1rem;
        line-height: 2rem;
        margin: 0 0 2rem 0;
    }
}
.equipo__integrantes--phyllis {
	background-image: url(../media/phyllis.jpg);
	background-size: cover;
    @include font-serif(2rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    align-items: flex-end;
    border-radius: 10px;
    @media all and (min-width: 768px) {
        font-size: 3rem;
        font-weight: 600;
        margin: 0 2rem 0 2rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.75rem;
        margin: 0 0 2rem 0;
    }
}
.equipo__integrantes--michael {
	background-image: url(../media/michael.jpg);
	background-position-y: 20%;
	background-size: cover;
    @include font-serif(2rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    align-items: flex-end;
    border-radius: 10px;
    @media all and (min-width: 768px) {
        font-size: 3rem;
        font-weight: 600;
        margin: 0 2rem 0 2rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.75rem;
        margin: 0 0 2rem 0;
    }
}
.equipo__integrantes--dwight {
	background-image: url(../media/dwight.jpg);
	background-position-y: 20%;
	background-size: cover;
    @include font-serif(2rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    align-items: flex-end;
    border-radius: 10px;
    @media all and (min-width: 768px) {
        font-size: 3rem;
        font-weight: 600;
        margin: 0 2rem 0 2rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.75rem;
        margin: 0 0 2rem 0;
    }
}
.equipo__integrantes--kevin {
	background-image: url(../media/kevin.jpg);
	background-position-y: 20%;
	background-size: cover;
    @include font-serif(2rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    align-items: flex-end;
    border-radius: 10px;
    @media all and (min-width: 768px) {
        font-size: 3rem;
        font-weight: 600;
        margin: 0 2rem 0 2rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.75rem;
        margin: 0 0 2rem 0;
    }
}
.equipo__integrantes--pam {
	background-image: url(../media/pam.jpg);
	background-position-y: 35%;
	background-size: cover;
    @include font-serif(2rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    align-items: flex-end;
    border-radius: 10px;
    @media all and (min-width: 768px) {
        font-size: 3rem;
        font-weight: 600;
        margin: 0 2rem 0 2rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.75rem;
        margin: 0 0 2rem 0;
    }
}
.equipo__integrantes--jim {
	background-image: url(../media/jim.jpeg);
	background-position-y: 20%;
	background-size: cover;
    @include font-serif(2rem, 700, $black);
    text-shadow: 0px 0px 8px $cream;
    align-items: flex-end;
    border-radius: 10px;
    @media all and (min-width: 768px) {
        font-size: 3rem;
        font-weight: 600;
        margin: 0 2rem 0 2rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.75rem;
        margin: 0 0 2rem 0;
    }
}
.equipo__video {
	margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
	height: 300px;
    @media all and (min-width: 768px) {
        height: 400px;
    }
    @media all and (min-width: 992px) {
        height: 560px;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
.clientes { 
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;    
    @media all and (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
.clientes__logos {
    width: 50vw;
    margin: 8vh;
    @media all and (min-width: 992px) {
        width: 12vw;
    }
}
.clientes__logos:hover {
    @media all and (min-width: 992px) {
        transition: 1s;
        transform: scale(1.2);
    }
}
.contacto__formulario {
    padding: 1.5rem;
}
.contacto__formulario--titulo {
	text-align: center;
	@include font-serif(1.2rem, 400, $cream);
	margin: 1rem;
    padding-left: 0;
    padding-right: 0;
    @media all and (min-width: 992px) {
        font-size: 1.5rem;
        margin: 1.5rem;
    }
}
.contacto__formulario--inputs {
    @include font-sans(1rem, 300, $black);
}
.contacto__formulario--inputs:focus {
    color: $black;
    background-color: $cream;
    border-color: $gold;
    outline: 0;
    box-shadow: 0 0 0 0.2rem $gold;
}
.contacto__formulario--enviar {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.recibe {
    min-height: 50vh;
}
.recibe__parrafo {
    text-align: center;
}
.recibe__volver {
	color: $gold;
}
.footer {
	padding: 1rem;          
}
.footer__contacto {
    @include font-serif(1.25rem, 400, $cream);
    text-align: left;
    padding: 0;
    height: auto;
    margin: 0.5rem;
    @media all and (min-width: 768px) {
        font-size: 1.75rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.25rem;
    }
}
.footer__contacto--titulo {
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
    @include font-serif(1.5rem, 700, $cream);
    @media all and (min-width: 768px) {
        font-size: 2rem;
    }
    @media all and (min-width: 992px) {
        font-size: 1.5rem;
    }
}
.footer__socialMedia {
	display: flex;
    flex-direction: row;
    padding: 2vh;
    text-decoration: none;
    justify-content: space-around;
    object-position: center;
    @media all and (min-width: 992px) {
        text-decoration: none;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 0;
        justify-content: space-evenly;
    }
}
.footer__socialMedia--icono {
    height: 6vh;
    @media all and (min-width: 992px) {
        height: 3vh;
        padding: 0;
        padding-left: 2vw;
        filter: grayscale(100%);
    }
}
.footer__socialMedia--icono:hover {
    @media all and (min-width: 992px) {
        transition: 0.5s;
        filter: grayscale(0%);
    }
}